.Dictionary section {
  background: whitesmoke;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 50px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary small {
  font-size: 11px;
}
