.Phonetic {
  height: 30px;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  margin-right: 5px;
}

.Phonetic a:hover {
  background: #e6adec;
  color: black;
}
